<a n:href="stopSubscription! $subscription->id"
      class="btn btn-default btn-sm"
      data-confirm="{_subscriptions.admin.stop_subscription_widget.stop_confirm, ['id' => $subscription->id, 'email' => $subscription->user->email]}"
><i class="fa fa-stop-circle"></i> {_subscriptions.admin.stop_subscription_widget.button_label}</a>
