<li class="menuitem-header" data-dropdown-section="{_subscriptions.admin.stop_subscription_widget.header}">
    {_subscriptions.admin.stop_subscription_widget.header}
</li>
<li role="menuitem">
  <a href="{plink ":Subscriptions:SubscriptionsTransferAdmin:selectUser" $subscription->id}">
    <i class="fa fa-random"></i> {_subscriptions.admin.transfer_subscription_widget.button_label}
  </a>
</li>
