{var $address = $subscription->address}
<div id="address-{$subscription->id}-{$address->id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{_subscriptions.admin.user_subscription_address_widget.delivery_address} #{$address->id}</h4>
            </div>
            <div class="modal-body">
                <b>
                    {if $address->company_name}
                        {$address->company_name}
                    {/if}
                    {if $address->first_name}
                        {$address->first_name}
                    {/if}
                    {if $address->last_name}
                        {$address->last_name}
                    {/if}
                </b>
                <br>
                {$address->address} {$address->number}
                  <br>
                  {$address->zip} {$address->city}
                  {if $address->country_id}
                    <br>{$address->country->name}
                {/if}
                  {if $address->phone_number}
                    <br>{$address->phone_number}
                {/if}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">{_subscriptions.admin.user_subscription_address_widget.close}</button>
                <a href="{plink :Users:AddressAdmin:edit $address->id}" type="button"
                   class="btn btn-primary">{_subscriptions.admin.user_subscription_address_widget.edit_address}</a>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-xs btn-default" data-toggle="modal"
   data-target="#address-{$subscription->id}-{$address->id}">{_subscriptions.admin.user_subscription_address_widget.address} #{$address->id}</a>