<span
        class="label label-warning"
        data-toggle="tooltip"
        data-original-title="{_subscriptions.admin.users_abusive_additional_widget.tooltip}">
    <i class="fa fa-clock"></i>&nbsp;{$actualSubscriptionRow->end_time|userDate}
</span>