<div class="row">
    {control stats}
</div>

<div class="row">
    <div class="col-md-12">
        <a href="{plink :Subscriptions:SubscriptionsEnds:default withoutNext => 1, withoutRecurrent => 1}" target="_blank" class="btn btn-default">Detail</a>
    </div>
</div>
