{foreach $subscriptions as $subscription}
<div>
	<small>
		{_subscriptions.admin.actual_subscription_label.subscription}: {$subscription->start_time|userDate} - {$subscription->end_time|userDate}
	</small>
	<span n:if="$subscription->actual" class="label label-primary">{_subscriptions.admin.actual_subscription_label.actual}</span>
</div>
{/foreach}
