services:
	moduleManager:
		setup:
			- addModule(Crm\SubscriptionsModule\SubscriptionsModule())

	subscriptionTypesRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypesRepository
	subscriptionsRepository: Crm\SubscriptionsModule\Repositories\SubscriptionsRepository
	subscriptionMetaRepository: Crm\SubscriptionsModule\Repositories\SubscriptionMetaRepository
	subscriptionExtensionMethodsRepository: Crm\SubscriptionsModule\Repositories\SubscriptionExtensionMethodsRepository
	subscriptionTypeNamesRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypeNamesRepository
	subscriptionLengthMethodsRepository: Crm\SubscriptionsModule\Repositories\SubscriptionLengthMethodsRepository
	subscriptionTypeItemsRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypeItemsRepository
	subscriptionTypeContentAccessRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypeContentAccessRepository
	subscriptionTypesMetaRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypesMetaRepository
	contentAccessRepository: Crm\SubscriptionsModule\Repositories\ContentAccessRepository
	subscriptionTypeItemMetaRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypeItemMetaRepository
	subscriptionTypeTagsRepository: Crm\SubscriptionsModule\Repositories\SubscriptionTypeTagsRepository

	measurementManager:
		setup:
		    - register(Crm\SubscriptionsModule\Measurements\ActiveSubscriptionsMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\ActiveSubscribersMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\ActivePayingSubscribersMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\StartedSubscriptionsMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\EndedSubscriptionsMeasurement())

	- Crm\SubscriptionsModule\Models\Builder\SubscriptionTypeBuilder
	- Crm\SubscriptionsModule\Forms\SubscriptionTypesFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTransferUserSelectFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTransferConfirmationFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionsGeneratorFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeItemsFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeMetaFormFactory
	- Crm\SubscriptionsModule\Forms\AdminFilterFormFactory
	- Crm\SubscriptionsModule\Models\Generator\SubscriptionsGenerator
	- Crm\SubscriptionsModule\Components\SubscriptionButton\SubscriptionButton
	- Crm\SubscriptionsModule\Components\ActualUserSubscriptions\ActualUserSubscriptions
	- Crm\SubscriptionsModule\Components\ActualSubscribersRegistrationSourceStatsWidget\ActualSubscribersRegistrationSourceStatsWidget
	- Crm\SubscriptionsModule\Components\TotalSubscriptionsStatWidget\TotalSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\ActualSubscribersStatWidget\ActualSubscribersStatWidget
	- Crm\SubscriptionsModule\Components\TodaySubscriptionsStatWidget\TodaySubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsStatWidget\MonthSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthToDateSubscriptionsStatWidget\MonthToDateSubscriptionsStatWidget
	subscribersWithMissingAddressWidget:
		factory: Crm\SubscriptionsModule\Components\PrintSubscribersWithoutPrintAddressWidget\PrintSubscribersWithoutPrintAddressWidget
	usersAbusiveAdditionalWidget:
		factory: Crm\SubscriptionsModule\Components\UsersAbusiveAdditionalWidget\UsersAbusiveAdditionalWidget
	- Crm\SubscriptionsModule\Components\EndingSubscriptionsWidget\EndingSubscriptionsWidget
	- Crm\SubscriptionsModule\Components\RenewedSubscriptionsEndingWithinPeriodWidget\RenewedSubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsEndingWithinPeriodWidget\SubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsSmallBarGraphWidget\MonthSubscriptionsSmallBarGraphWidget
	- Crm\SubscriptionsModule\Components\UserSubscriptionAddressWidget\UserSubscriptionAddressWidget
	- Crm\SubscriptionsModule\Components\UserSubscriptionInfoWidget\UserSubscriptionInfoWidget
	- Crm\SubscriptionsModule\Components\UserSubscriptionsListing\UserSubscriptionsListing
	- Crm\SubscriptionsModule\Components\SubscriptionEndsStats\SubscriptionEndsStatsFactoryInterface
	- Crm\SubscriptionsModule\Components\StopSubscriptionWidget\StopSubscriptionWidget
	- Crm\SubscriptionsModule\Components\SubscriptionTransferWidget\SubscriptionTransferWidget
	- Crm\SubscriptionsModule\Components\SubscriptionEndsSuppressionWidget\SubscriptionEndsSuppressionWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsFlowGraphWidget\SubscriptionsFlowGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsRecurrencyStatsGraphWidget\SubscriptionsRecurrencyStatsGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsLengthStatsGraphWidget\SubscriptionsLengthStatsGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsStatsGraphWidget\SubscriptionsStatsGraphWidget
	- Crm\SubscriptionsModule\Components\NewSubscriptionsStatsGraphWidget\NewSubscriptionsStatsGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsGraphWidget\SubscriptionsGraphWidget
	- Crm\SubscriptionsModule\Components\AccessStatsGraphWidget\AccessStatsGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsEndGraphWidget\SubscriptionsEndGraphWidget
	- Crm\SubscriptionsModule\Components\SubscriptionEndsStatsWidget\SubscriptionEndsStatsWidget
	- Crm\SubscriptionsModule\Commands\ChangeSubscriptionsStateCommand
	- Crm\SubscriptionsModule\Api\v1\UsersSubscriptionsHandler
	- Crm\SubscriptionsModule\Models\Subscription\ActualUserSubscription
	- Crm\SubscriptionsModule\Models\SubscriptionTransfer\UserSearch
	- Crm\SubscriptionsModule\Events\AddressRemovedHandler
	- Crm\SubscriptionsModule\Events\SubscriptionShortenedHandler
	- Crm\SubscriptionsModule\Hermes\GenerateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\CreateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\ListContentAccessHandler
	- Crm\SubscriptionsModule\Api\v1\UpdateSubscriptionHandler
	- Crm\SubscriptionsModule\DataProviders\SubscriptionsUserDataProvider
	- Crm\SubscriptionsModule\Segment\ActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\UserActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\InactiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Scenarios\TypeCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeCriteria
	- Crm\SubscriptionsModule\Scenarios\ContentAccessCriteria
	- Crm\SubscriptionsModule\Scenarios\IsRecurrentCriteria
	- Crm\SubscriptionsModule\Scenarios\HasDisabledNotificationsCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeLengthCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeIsDefaultCriteria
	- Crm\SubscriptionsModule\Scenarios\HasLaterEndingSubscriptionCriteria
	- Crm\SubscriptionsModule\Scenarios\IsExpiredByAdminCriteria
	- Crm\SubscriptionsModule\Scenarios\FirstSubscriptionInPeriodCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionScenarioConditionModel
	- Crm\SubscriptionsModule\Scenarios\IsConsecutiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Seeders\ConfigSeeder
	- Crm\SubscriptionsModule\Seeders\ContentAccessSeeder
	- Crm\SubscriptionsModule\Seeders\MeasurementsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionExtensionMethodsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionTypeNamesSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionLengthMethodSeeder
	- Crm\SubscriptionsModule\Seeders\TestSeeder
	- Crm\SubscriptionsModule\Access\SubscriptionAccessProvider
	- Crm\SubscriptionsModule\DataProviders\FilterUsersFormDataProvider
	- Crm\SubscriptionsModule\DataProviders\FilterUserActionLogsSelectionDataProvider
	- Crm\SubscriptionsModule\DataProviders\FilterUserActionLogsFormDataProvider
	- Crm\SubscriptionsModule\DataProviders\CanDeleteAddressDataProvider
	- Crm\SubscriptionsModule\DataProviders\FilterAbusiveUserFormDataProvider
	- Crm\SubscriptionsModule\DataProviders\SubscriptionsClaimUserDataProvider
	- Crm\SubscriptionsModule\DataProviders\SubscriptionTransferDataProvider
	- Crm\SubscriptionsModule\DataProviders\SubscriptionAuditLogHistoryDataProvider
	- Crm\SubscriptionsModule\Models\Subscription\SubscriptionTypeHelper
	- Crm\SubscriptionsModule\Models\Subscription\StopSubscriptionHandler
	- Crm\SubscriptionsModule\Models\Subscription\SubscriptionEndsSuppressionManager

	- Crm\SubscriptionsModule\Models\AdminFilterFormData

	- Crm\SubscriptionsModule\Models\Extension\ExtendActualExtension
	- Crm\SubscriptionsModule\Models\Extension\ExtendSameActualExtension
	- Crm\SubscriptionsModule\Models\Extension\ExtendSameContentAccess
	- Crm\SubscriptionsModule\Models\Extension\StartNowExtension
	- Crm\SubscriptionsModule\Models\Extension\ExtendSameTypeExtension
	- Crm\SubscriptionsModule\Models\Extension\ExtendLastExtension
	- Crm\SubscriptionsModule\Models\Extension\ExtendLastExtensionFactory
	paymentItemContainerFactory:
		setup:
			- registerPaymentItemType(Crm\SubscriptionsModule\Models\PaymentItem\SubscriptionTypePaymentItem)
	extensionMethodFactory:
		factory: Crm\SubscriptionsModule\Models\Extension\ExtensionMethodFactory
		setup:
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\ExtendActualExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\ExtendActualExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\ExtendSameActualExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\ExtendSameActualExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\StartNowExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\StartNowExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\ExtendSameTypeExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\ExtendSameTypeExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\ExtendSameContentAccess::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\ExtendSameContentAccess
			)
			- registerExtension(
				Crm\SubscriptionsModule\Models\Extension\ExtendLastExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Extension\ExtendLastExtension
			)

	lengthMethodFactory:
		factory: Crm\SubscriptionsModule\Models\Length\LengthMethodFactory
		setup:
			- registerExtension(
				Crm\SubscriptionsModule\Models\Length\FixDaysLengthMethod::METHOD_CODE,
				Crm\SubscriptionsModule\Models\Length\FixDaysLengthMethod()
			)

	filterLoader:
		setup:
			- register('typeContent', [Crm\SubscriptionsModule\Helpers\TypeContentHelper(), process])
			- register('typeLabel', [Crm\SubscriptionsModule\Helpers\TypeLabel(), process])
