services:
	moduleManager:
		setup:
			- addModule(Crm\SubscriptionsModule\SubscriptionsModule())

	subscriptionTypesRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypesRepository
	subscriptionsRepository: Crm\SubscriptionsModule\Repository\SubscriptionsRepository
	subscriptionMetaRepository: Crm\SubscriptionsModule\Repository\SubscriptionMetaRepository
	subscriptionExtensionMethodsRepository: Crm\SubscriptionsModule\Repository\SubscriptionExtensionMethodsRepository
	subscriptionTypeNamesRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypeNamesRepository
	subscriptionLengthMethodsRepository: Crm\SubscriptionsModule\Repository\SubscriptionLengthMethodsRepository
	subscriptionTypeItemsRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypeItemsRepository
	subscriptionTypeContentAccess: Crm\SubscriptionsModule\Repository\SubscriptionTypeContentAccess
	subscriptionTypesMetaRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypesMetaRepository
	contentAccessRepository: Crm\SubscriptionsModule\Repository\ContentAccessRepository
	subscriptionTypeItemMetaRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypeItemMetaRepository

	measurementManager:
		setup:
		    - register(Crm\SubscriptionsModule\Measurements\ActiveSubscriptionsMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\ActiveSubscribersMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\ActivePayingSubscribersMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\StartedSubscriptionsMeasurement())
		    - register(Crm\SubscriptionsModule\Measurements\EndedSubscriptionsMeasurement())

	- Crm\SubscriptionsModule\Builder\SubscriptionTypeBuilder
	- Crm\SubscriptionsModule\Forms\SubscriptionTypesFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionsGeneratorFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeItemsFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeMetaFormFactory
	- Crm\SubscriptionsModule\Forms\AdminFilterFormFactory
	- Crm\SubscriptionsModule\Generator\SubscriptionsGenerator
	- Crm\SubscriptionsModule\Components\SubscriptionButton
	- Crm\SubscriptionsModule\Components\ActualUserSubscriptions
	- Crm\SubscriptionsModule\Components\ActualSubscribersRegistrationSourceStatsWidget
	- Crm\SubscriptionsModule\Components\TotalSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\ActualSubscribersStatWidget
	- Crm\SubscriptionsModule\Components\TodaySubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthToDateSubscriptionsStatWidget
	subscribersWithMissingAddressWidget:
		factory: Crm\SubscriptionsModule\Components\SubscribersWithMissingAddressWidget
	usersAbusiveAdditionalWidget:
		factory: Crm\SubscriptionsModule\Components\UsersAbusiveAdditionalWidget
	- Crm\SubscriptionsModule\Components\EndingSubscriptionsWidget
	- Crm\SubscriptionsModule\Components\RenewedSubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsSmallBarGraphWidget
	- Crm\SubscriptionsModule\Components\UserSubscriptionInfoWidget
	- Crm\SubscriptionsModule\Components\UserSubscriptionsListing
	- Crm\SubscriptionsModule\Components\SubscriptionEndsStatsFactoryInterface
	- Crm\SubscriptionsModule\Components\StopSubscriptionWidget
	- Crm\SubscriptionsModule\Commands\ChangeSubscriptionsStateCommand
	- Crm\SubscriptionsModule\Api\v1\UsersSubscriptionsHandler
	- Crm\SubscriptionsModule\Subscription\ActualUserSubscription
	- Crm\SubscriptionsModule\Events\AddressRemovedHandler
	- Crm\SubscriptionsModule\Events\SubscriptionShortenedHandler
	- Crm\SubscriptionsModule\Hermes\GenerateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\CreateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\ListContentAccessHandler
	- Crm\SubscriptionsModule\User\SubscriptionsUserDataProvider
	- Crm\SubscriptionsModule\Segment\ActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\UserActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\InactiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Scenarios\TypeCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeCriteria
	- Crm\SubscriptionsModule\Scenarios\ContentAccessCriteria
	- Crm\SubscriptionsModule\Scenarios\IsRecurrentCriteria
	- Crm\SubscriptionsModule\Scenarios\HasDisabledNotificationsCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeLengthCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeIsDefaultCriteria
	- Crm\SubscriptionsModule\Scenarios\HasLaterEndingSubscriptionCriteria
	- Crm\SubscriptionsModule\Scenarios\IsExpiredByAdminCriteria
	- Crm\SubscriptionsModule\Seeders\ConfigSeeder
	- Crm\SubscriptionsModule\Seeders\ContentAccessSeeder
	- Crm\SubscriptionsModule\Seeders\MeasurementsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionExtensionMethodsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionTypeNamesSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionLengthMethodSeeder
	- Crm\SubscriptionsModule\Seeders\TestSeeder
	- Crm\SubscriptionsModule\Access\SubscriptionAccessProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUsersFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsSelectionDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\CanDeleteAddressDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterAbusiveUserFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\SubscriptionsClaimUserDataProvider
	- Crm\SubscriptionsModule\Subscription\SubscriptionTypeHelper
	- Crm\SubscriptionsModule\Subscription\StopSubscriptionHandler

	- Crm\SubscriptionsModule\Models\AdminFilterFormData

	- Crm\SubscriptionsModule\Extension\ExtendActualExtension
	- Crm\SubscriptionsModule\Extension\ExtendSameActualExtension
	- Crm\SubscriptionsModule\Extension\ExtendSameContentAccess
	- Crm\SubscriptionsModule\Extension\StartNowExtension
	- Crm\SubscriptionsModule\Extension\ExtendSameTypeExtension
	- Crm\SubscriptionsModule\Extension\ExtendLastExtension
	extensionMethodFactory:
		factory: Crm\SubscriptionsModule\Extension\ExtensionMethodFactory
		setup:
			- registerExtension(
				Crm\SubscriptionsModule\Extension\ExtendActualExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\ExtendActualExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Extension\ExtendSameActualExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\ExtendSameActualExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Extension\StartNowExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\StartNowExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Extension\ExtendSameTypeExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\ExtendSameTypeExtension
			)
			- registerExtension(
				Crm\SubscriptionsModule\Extension\ExtendSameContentAccess::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\ExtendSameContentAccess
			)
			- registerExtension(
				Crm\SubscriptionsModule\Extension\ExtendLastExtension::METHOD_CODE,
				Crm\SubscriptionsModule\Extension\ExtendLastExtension
			)

	lengthMethodFactory:
		factory: Crm\SubscriptionsModule\Length\LengthMethodFactory
		setup:
			- registerExtension('fix_days', Crm\SubscriptionsModule\Length\FixDaysLengthMethod())

	filterLoader:
		setup:
			- register('typeContent', [Crm\SubscriptionsModule\Helpers\TypeContentHelper(), process])
			- register('typeLabel', [Crm\SubscriptionsModule\Helpers\TypeLabel(), process])
