{block #title}[#{$subscription->id}] {_subscriptions.admin.subscriptions.show.header}{/block}

{block #head}
  <style>
    .label {
      vertical-align: middle;
    }

    .note-formated {
      display:inline-block;
      white-space: pre-line;
      vertical-align: top;
    }

    /* fix useless margin of header in right column */
    .right-column > h3.page-header:first-of-type {
      margin-top: 12px;
    }
  </style>
{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href=":Users:UsersAdmin:Show $subscription->user->id">
      <i class="fa fa-angle-left"></i> {_subscriptions.admin.subscriptions.show.back}
    </a>
    <div class="page-header">
      <h1>
        <small>
          [#{$subscription->id}]
        </small>
        {_subscriptions.admin.subscriptions.show.header}
        <a href="{plink :Subscriptions:SubscriptionsAdmin:edit $subscription->id, userId => $subscription->user_id}" class="btn btn-primary btn-lg pull-right" title="{_subscriptions.admin.subscriptions.edit.header}">
          <i class="fa fa-edit"></i> {_subscriptions.admin.subscriptions.edit.header}
        </a>
      </h1>
    </div>
  </div>
</div>

<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <ul class="list-group">

      <li class="list-group-item">
        <b>{_subscriptions.data.subscriptions.fields.subscription_type}:</b>

        <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $subscription->subscription_type->id}">
          {$subscription->subscription_type->name}
        </a>

        {foreach $subscription->subscription_type->related('subscription_type_content_access') as $subscriptionTypeContentAccess}
          <span class="{$subscriptionTypeContentAccess->content_access->class}">
            {$subscriptionTypeContentAccess->content_access->description}
          </span>
        {/foreach}
      </li>

      <li class="list-group-item">
        <b>{_subscriptions.data.subscriptions.fields.type}:</b> {$subscription->type}
      </li>

      <li class="list-group-item">
        <b>{_subscriptions.data.subscriptions.fields.is_paid}:</b>
        {if $subscription->is_paid}
          <span class="label label-success">{_system.yes}</span>
        {else}
          <span class="label label-default">{_system.no}</span>
        {/if}
      </li>

      <li class="list-group-item">
        <b>{_subscriptions.data.subscriptions.fields.start_time}:</b> {$subscription->start_time|userDate}
      </li>

      <li class="list-group-item">
        <b>{_subscriptions.data.subscriptions.fields.end_time}:</b> {$subscription->end_time|userDate}
      </li>

      <li class="list-group-item" n:if="$subscription->note">
        <b>{_subscriptions.data.subscriptions.fields.note}:</b>
        <span class="note-formated">{$subscription->note}</span>
      </li>

      <li class="list-group-item" n:if="$subscription->address_id">
        <b>{_subscriptions.data.subscriptions.fields.address_id}:</b> {$subscription->address_id}
      </li>

    </ul>

    {control simpleWidget 'admin.subscriptions.show.left', $subscription}

  </div>

  <!-- right column -->
  <div class="col-md-6 right-column">
    {if $subscription->related('subscriptions_meta')->count('*') > 0}
    <h3 class="page-header">{_subscriptions.admin.subscriptions.show.subscription_meta.header}</h3>
    <ul class="list-group">
      <li n:foreach="$subscription->related('subscriptions_meta') as $subscriptionMeta" class="list-group-item">
        {$subscriptionMeta->key}:
        <code class="muted">{$subscriptionMeta->value}</code>
      </li>
    </ul>
    {/if}

    {control simpleWidget 'admin.subscriptions.show.right', $subscription}
  </div>

</div>

{control simpleWidget 'admin.subscriptions.show.bottom', $subscription}
