<li class="menuitem-header">{_subscriptions.admin.subscription_button.header}</li>
<li role="menuitem">
  <a href="{plink :Subscriptions:SubscriptionsAdmin:show $payment->subscription_id}" title="{_subscriptions.admin.subscription_button.show}">
    <i class="fa fa-eye"></i> {_subscriptions.admin.subscription_button.show}
  </a>
</li>
<li role="menuitem">
   <a href="{plink :Subscriptions:SubscriptionsAdmin:edit $payment->subscription_id, $payment->user_id}" title="{_subscriptions.admin.subscription_button.edit}">
       <i class="fa fa-edit"></i> {_subscriptions.admin.subscription_button.edit}
   </a>
</li>
